
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Crear</title>
    <link rel="stylesheet" href="{% static 'css/miEstilo.css' %}">
</head>
<body class="body5">

        <div class="container-fluid bg-warning">
        <h1 class="mt-3 pt-3 pb-3 ml-3 text-center">¿Qué deseas crear?</h1>
        </div>

        <ul class="mt-5 mr-5">
            <div class="alert alert-primary text-center">
                <a href="{% url 'crearAlbum' %}" class="text-primary font-weight-bold h5">
                    Álbum</a>
            </div>

            <div class="alert alert-danger text-center">
                <a href="{% url 'crearGrupo' %}" class="text-primary font-weight-bold h5">
                    Grupo</a>
            </div>

            <div class="alert alert-warning text-center">
                <a href="{% url 'crearArtista' %}" class="text-primary font-weight-bold h5">
                    Artista</a>
            </div>

        </ul>
</body>
</html>