
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de Álbum</title>
</head>
<body>

    <form method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" id="nombreAlbum" placeholder="Introduce Nombre">
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Año</label>
    <input type="number" class="form-control" id="anioAlbum" placeholder="Introduce Año de lanzamiento">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Genero</label>
    <input type="text" class="form-control" id="generoAlbum" placeholder="Introduce Género Musical">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Puntuación</label>
    <input type="number" class="form-control" id="puntuacionAlbum" placeholder="Introduce Puntuación">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>