
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Álbum</title>
</head>
<body>



    <form action="/editarAlbum/{{ allAlbums.id }}/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="nombreAlbum" value= "{{ allAlbums.nombreAlbum }}">
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Año</label>
    <input type="number" name="anio" class="form-control" id="anioAlbum" value= {{ allAlbums.anio }}>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Genero</label>
    <input type="text" name="genero" class="form-control" id="generoAlbum" value="{{ allAlbums.genero }}">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Grupo</label>
     <select id="comboGrupo" name="grupo" class="form-control">
        <option selected="selected" >{{ allAlbums.grupoMusical_id.nombreGrupo }}</option>
        {% for Grupo in allGrupos %}
            {% if Grupo.nombreGrupo != allAlbums.grupoMusical_id.nombreGrupo %}
    <option value="{{ Grupo.nombreGrupo }}">{{ Grupo.nombreGrupo }}</option>
            {% endif %}
{% endfor %}
      </select>
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Artista</label>
    <select id="comboArtista" name="artista" class="form-control">
        {% for Artista in allArtistas %}
    <option value="{{ Artista.nombre }}">{{ Artista.nombre }}</option>
{% endfor %}
      </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Puntuación</label>
    <input type="number" name="puntuacion" class="form-control" id="puntuacionAlbum" placeholder="Introduce Puntuación">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>