{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de Artista</title>
</head>
<body>

    <form action="/editarArtista/{{ allArtistas.id }}/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="nombreArtista" value="{{ allArtistas.nombre }}">
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Primer Apellido</label>
    <input type="text" name="primerApellido" class="form-control" id="primerApellido" value="{{ allArtistas.apellido1 }}">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Segundo Apellido</label>
    <input type="text" name="segundoApellido" class="form-control" id="segundoApellido" value="{{ allArtistas.apellido2 }}">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Grupo</label>
     <select id="comboGrupo" name="grupo" class="form-control">
     <option selected = "selected">{{ allArtistas.grupo_id.nombreGrupo }}</option>
        {% for Grupo in allGrupos %}
            {% if Grupo.nombreGrupo != allArtistas.grupo_id.nombreGrupo %}
    <option value="{{ Grupo.nombreGrupo }}">{{ Grupo.nombreGrupo }}</option>
            {% endif %}
{% endfor %}
      </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>