{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de Grupo</title>
</head>
<body>

    <form action="/editarGrupo/{{ allGrupos.id }}/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="nombreGrupo" value = "{{ allGrupos.nombreGrupo }}">
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Estilo de Música</label>
    <input type="text" name="estilo" class="form-control" id="estilo" value= "{{ allGrupos.estiloMusica }}">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Fecha de Creación</label>
    <input type="date" name="fechaCreacion" class="form-control" id="fechaCreacion" value="{{ allGrupos.fecha_creacion }}">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Fecha de Disolución</label>
    <input type="date" name="FechaDisolucion" class="form-control" id="fechaDisolucion" value= "{{ allGrupos.fecha_disolucion }}" >
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>