
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grupos</title>
</head>
<body>

     <h1>Lista de grupos</h1>
        <ol>
            {% for Grupo in allgrupos %}

            <li>Nombre: {{ Grupo.nombreGrupo}} <br>
                Estilo: {{ Grupo.estiloMusica }} <br>
                Fecha creación: {{ Grupo.fecha_creacion }} <br>
                Fecha disolución: {{ Grupo.fecha_disolucion }}</li>
                <a href="/borrarGrupo/{{Grupo.id}}">Borrar</a>
                <a href="/editarGrupo/{{Grupo.id}}">Editar</a>
        <br><br>
        {% endfor %}
        </ol>



</body>
</html>